<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/CSS/fragments/navbar.css}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <link rel="stylesheet" th:href="@{/CSS/coberturaMedica.css}">
    <title>SSE-Cobertura Médica</title>
</head>

<body>
    <!-- navbar -->
    <nav th:replace="/fragments/navbar :: nav" />
    <!--Titulo principal-->
    <h1 class="coberturaTitle">Cobertura Médica</h1>
    <div class="coberturaGral">
        <div class="card">
            <img th:src="@{/Img/PlanAzul.jpg}" alt="">
            <div class="btnDiv">
                <button class="card-btn">Adquirir Plan</button>
            </div>
        </div>
        <div class="card">
            <img th:src="@{/Img/PlanDorado.jpg}" alt="">
            <div class="btnDiv">
                <button class="card-btn">Adquirir Plan</button>
            </div>
        </div>
        <div class="card">
            <img th:src="@{/Img/PlanJoven.jpg}" alt="">
            <div class="btnDiv">
                <button class="card-btn">Adquirir Plan</button>
            </div>
        </div>
        <div class="card">
            <img th:src="@{/Img/PlanPlatino.jpg}" alt="">
            <div class="btnDiv">
                <button class="card-btn">Adquirir Plan</button>
            </div>
        </div>
    </div>
   
    <!-- footer -->
    <div th:replace="/fragments/footer :: div" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>