<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="/SSE/src/main/resources/Static/CSS/especialistasclinica.css"
    />
   
    <title>Clínica Médica - Especialistas</title>
  </head>

  <body>
    <div class="body">
      <img class="body-img" src="/SSE/src/main/resources/Static/Img/SSE-logo.png" alt="">
    <h1>Clínica Médica</h1>
    </div>
    <div>
      <img
        class="imgclinicaM"
        src="/SSE/src/main/resources/Static/Img/Médico6.png"
        alt="..."
      />
    </div>

    <div class="col">
      <div class="card-medico">
        <div class="card">
          <img
            class="card-img"
            src="/SSE/src/main/resources/Static/Img/doctor1.jpeg"
            alt="..."
          />
          <h5 class="card-title">Dra. Valen Yañez</h5>
          <p class="card-text">M.P. 24587</p>
          <p class="card-text">Horario: Lunes, Miércoles y Viernes de 8 a 13 hs.</p>
          <button class="card-btn">Sacar Turno</button>
          <button class="card-btn">Curriculum</button>
        </div>
      </div>

      <div class="card-medico">
        <div class="card">
          <img
            class="card-img"
            src="/SSE/src/main/resources/Static/Img/doctor2.jpeg"
            alt="..."
          />
          <h5 class="card-title">Dra. Bett Sosa</h5>
          <p class="card-text">M.N. 45789</p>
          <p class="card-text">Horario: Lunes y Jueves de 8 a 13 hs.</p>
          <button class="card-btn">Sacar Turno</button>
          <button class="card-btn">Curriculum</button>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card-medico">
        <div class="card">
          <img
            class="card-img"
            src="/SSE/src/main/resources/Static/Img/doctor3.jpeg"
            alt="..."
          />
          <h5 class="card-title">Dr. Luciano Ponce</h5>
          <p class="card-text">M.N. 12365</p>
          <p class="card-text">Horario: Martes y Jueves de 16 a 21 hs.</p>
          <button class="card-btn">Sacar Turno</button>
          <button class="card-btn">Curriculum</button>
        </div>
      </div>

      <div class="card-medico">
        <div class="card">
          <img
            class="card-img"
            src="/SSE/src/main/resources/Static/Img/doctor4.jpeg"
            alt="..."
          />
          <h5 class="card-title">Dr. Esteban Quereilhac</h5>
          <p class="card-text">M.N. 12648</p>
          <p class="card-text">Horario: Lunes, Miércoles y Viernes de 16 a 21 hs.</p>
          <button class="card-btn">Sacar Turno</button>
          <button class="card-btn">Curriculum</button>
        </div>
      </div>
    </div>

   
  </body>
</html>
