<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://thymeleaf.org/extras/spring-security">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      th:href="@{/CSS/pediatria.css}"
    />
   
    <title>Pediatría - Especialistas</title>
  </head>

  <body>    
    <div class="body">
      <img class="body-img" th:src="@{/Img/SSE-logo.png}" alt="">
    <h1>Pediatras</h1>
    </div>
    <div>
      <img
        class="imgpediatria"
        th:src="@{/Img/Médico4.png}"
        alt="..."
      />
    </div>

    <div class="col">
      <div class="card-medico">
        <div class="card">
          <img
            class="card-img"
            th:src="@{/Img/Doctor10.jpeg}"
            alt="..."
          />
          <h5 class="card-title">Dra. Aldana Ucci</h5>
          <p class="card-text">M.P. 74589</p>
          <div class="rating">
            <input type="radio" id="star5" name="rating" value="5">
            <label for="star5"></label>
            <input type="radio" id="star4" name="rating" value="4">
            <label for="star4"></label>
            <input type="radio" id="star3" name="rating" value="3">
            <label for="star3"></label>
            <input type="radio" id="star2" name="rating" value="2">
            <label for="star2"></label>
            <input type="radio" id="star1" name="rating" value="1">
            <label for="star1"></label>
          </div>
          <p class="card-text"><b><u>Horario de atención:</u></b> 
          Lunes, Miércoles y Viernes de 8 a 13 hs.
        </p>
        <div class="card-btn">
          <button class="card-btn1"><a class="card-curriculum" th:href="@{/pdf/curriculum10.pdf}">Curriculum</a></button>
        </div>
        </div>
      </div>

      <div class="card-medico">
        <div class="card">
          <img
            class="card-img"
            th:src="@{/Img/Doctor6.jpeg}"
            alt="..."
          />
          <h5 class="card-title">Dra. Lucia Monteros</h5>
          <p class="card-text">M.N. 64879</p>
          <div class="rating">
            <input type="radio" id="starA" name="rating1" value="A">
            <label for="starA"></label>
            <input type="radio" id="starB" name="rating1" value="B">
            <label for="starB"></label>
            <input type="radio" id="starC" name="rating1" value="C">
            <label for="starC"></label>
            <input type="radio" id="starD" name="rating1" value="D">
            <label for="starD"></label>
            <input type="radio" id="starE" name="rating1" value="E">
            <label for="starE"></label>
          </div>
          <p class="card-text"> 
            <b><u>Horario de atención:</u></b>
             Lunes y Jueves de 8 a 13 hs.
          </p>
          <div class="card-btn">
            <button class="card-btn1"><a class="card-curriculum" th:href="@{/pdf/curriculum15.pdf}">Curriculum</a></button>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card-medico">
        <div class="card">
          <img
            class="card-img"
            th:src="@{/Img/Doctor5.jpeg}"
            alt="..."
          />
          <h5 class="card-title">Dr. Gabriel Castro</h5>
          <p class="card-text">M.N. 98754</p>
          <div class="rating">
            <input type="radio" id="star6" name="rating2" value="6">
            <label for="star6"></label>
            <input type="radio" id="star7" name="rating2" value="7">
            <label for="star7"></label>
            <input type="radio" id="star8" name="rating2" value="8">
            <label for="star8"></label>
            <input type="radio" id="star9" name="rating2" value="9">
            <label for="star9"></label>
            <input type="radio" id="star10" name="rating2" value="10">
            <label for="star10"></label>
          </div>
          <p class="card-text">
            <b><u>Horario de atención:</u></b>
             Martes y Jueves de 16 a 21 hs.
          </p>
          <div class="card-btn">
            <button class="card-btn1"><a class="card-curriculum" th:href="@{/pdf/curriculum11.pdf}">Curriculum</a></button>
          </div>
        </div>
      </div>

      <div class="card-medico">
        <div class="card">
          <img
            class="card-img"
            th:src="@{/Img/Doctor8.jpeg}"
            alt="..."
          />
          <h5 class="card-title">Dr. Nicolás Lobos</h5>
          <p class="card-text">M.N. 12648</p>
          <div class="rating">
            <input type="radio" id="starF" name="rating3" value="F">
            <label for="starF"></label>
            <input type="radio" id="starG" name="rating3" value="G">
            <label for="starG"></label>
            <input type="radio" id="starH" name="rating3" value="H">
            <label for="starH"></label>
            <input type="radio" id="starI" name="rating3" value="I">
            <label for="starI"></label>
            <input type="radio" id="starJ" name="rating3" value="J">
            <label for="starJ"></label>
          </div>
          <p class="card-text">
            <b><u>Horario de atención:</u></b>
            Lunes, Miércoles y Viernes de 16 a 21 hs.
          </p>
          <div class="card-btn">
            <button class="card-btn1"><a class="card-curriculum" th:href="@{/pdf/curriculum16.pdf}">Curriculum</a></button>
          </div>
        </div>
      </div>
    </div>   
  </body>
</html>
