<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://thymeleaf.org/extras/spring-security">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css}" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
  <link rel="stylesheet" th:href="@{/CSS/registro.css}" Develop />
  <title>SSE Login</title>
</head>

<body>
  
  <form class="form" th:action="@{/registrarProfesional}" method="POST" enctype="multipart/form-data" style="max-width: 80vw;">
    <p class="title">Registro de Profesional</p>
    <div class="registroLogo">
      <img th:src="@{../Img/LogoBlanco.svg}" alt="" />
    </div>

    <div th:replace="/fragments/status :: div" />
  <!-- Mensaje de exito / error -->

    <p class="message">Agregue los datos del profesional</p>
    <div class="flex">
      <label>
        <input required="" type="text" class="input" th:value="${nombre}" name="nombre" />
        <span>Nombre</span>
      </label>

      <label>
        <input required="" placeholder="" type="text" class="input" th:value="${apellido}" name="apellido" />
        <span>Apellido</span>
      </label>
    </div>

    <label>
      <input required="" type="number" class="input" th:value="${telefono}" name="telefono" />
      <span>Teléfono</span>
    </label>

    <label>
      <input required="" type="email" class="input" th:value="${email}" name="email" />
      <span>Email</span>
    </label>

    <div class="table-responsive bg-gradient">
      <table class="table table-bordered border-white rounded bg-gradient">
        <thead>
          <p class="h4 text-light bg-gradient text-center p-2">Especialidad</p>
          <tr class="text-center">
            <th scope="col" class="bg-dark bg-opacity-25 text-white-50">Cardiología</th>
            <th scope="col" class="bg-secondary bg-opacity-25 text-white-50">Clinica</th>
            <th scope="col" class="bg-secondary bg-opacity-25 text-white-50">Ginecología</th>
            <th scope="col" class="bg-secondary bg-opacity-25 text-white-50">Pediatría</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="bg-dark bg-opacity-25">
              <div class="text-center">
                <input class="form-check-input" type="radio" name="especialidad" id="1" value="cardiologia"
                  th:checked="${especialidad == 'cardiologia'}">
                <label class="form-check-label" for="cardiologia"></label>
              </div>
            </td>
            <td class="bg-dark bg-opacity-25">
              <div class="text-center">
                <input class="form-check-input" type="radio" name="especialidad" id="2" value="clinica"
                  th:checked="${especialidad == 'clinica'}">
                <label class="form-check-label" for="clinica"></label>
              </div>
            </td>
            <td class="bg-dark bg-opacity-25">
              <div class="text-center">
                <input class="form-check-input" type="radio" name="especialidad" id="3" value="ginecologia"
                  th:checked="${especialidad == 'ginecologia'}">
                <label class="form-check-label" for="ginecologia"></label>
              </div>
            </td>
            <td class="bg-dark bg-opacity-25">
              <div class="text-center">
                <input class="form-check-input" type="radio" name="especialidad" id="4" value="pediatria"
                  th:checked="${especialidad == 'pediatria'}">
                <label class="form-check-label" for="pediatria"></label>
              </div>
            </td>
          </tr>
          </tr>
        </tbody>
      </table>
    </div>

    <p class="text-center text-light h4 bg-gradient p-2">Seleccione los dias laborales</p>
    <div class="bg-light bg-opacity-25 p-2 rounded text-white">
      <div class="row">
          <div class="col-6 col-sm-3">
              <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox1" th:value="lunes" name="diasSemana">
                  <label class="form-check-label" for="diasSemana">lunes</label>
              </div>
          </div>
          <div class="col-6 col-sm-3">
              <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox2" th:value="martes" name="diasSemana">
                  <label class="form-check-label" for="diasSemana">martes</label>
              </div>
          </div>
          <div class="col-6 col-sm-3">
              <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox3" th:value="miércoles" name="diasSemana">
                  <label class="form-check-label" for="diasSemana">miércoles</label>
              </div>
          </div>
          <div class="col-6 col-sm-3">
              <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox4" th:value="jueves" name="diasSemana">
                  <label class="form-check-label" for="diasSemana">jueves</label>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-6 col-sm-3">
              <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox5" th:value="viernes" name="diasSemana">
                  <label class="form-check-label" for="diasSemana">viernes</label>
              </div>
          </div>
          <div class="col-6 col-sm-3">
              <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox6" th:value="sábado" name="diasSemana">
                  <label class="form-check-label" for="diasSemana">sábado</label>
              </div>
          </div>
          <div class="col-6 col-sm-3">
              <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox7" th:value="domingo" name="diasSemana">
                  <label class="form-check-label" for="diasSemana">domingo</label>
              </div>
          </div>
          <div class="col-6 col-sm-3">
              <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox8" th:value="feriado" name="diasSemana">
                  <label class="form-check-label" for="diasSemana">feriado</label>
              </div>
          </div>
      </div>
  </div>

    <p class="text-center text-light h4 bg-gradient p-2">Horario</p>

    <div class="row d-flex justify-content-around">
      <div class="col-6">
        <div class="col-6 input-group mb-3">
          <div class="col-6 input-group-prepend">
            <span class="input-group-text bg-dark text-white">Entrada</span>
            <span class="input-group-text bg-dark text-white">0hs-24hs</span>
          </div>
          <input name="horasI" id="entrada" type="number" class="form-control col-6 bg-dark text-light bg-opacity-50" min="0"
            max="24">
            <label for="entrada"></label>
        </div>
      </div>

      <div class="col-6">
        <div class="col-6 input-group">
          <input name="horasF" id="salida" type="number" class="form-control col-6 bg-dark text-light bg-opacity-50" min="0" max="24">
          <label for="salida"></label>
          <div class="col-6 input-group-append">
            <span class="input-group-text bg-dark text-white">Salida</span>
            <span class="input-group-text bg-dark text-white">0hs-24hs</span>
          </div>
        </div>
      </div>
    </div>

    <div class="bg-gradient p-2 rounded">
      <p class="h5 text-white text-center p-2">Precio por consulta</p>
      <div class="input-group mb-3 align-self-center">
        <div class="input-group-prepend">
          <span class="input-group-text bg-dark bg text-white">u$$</span>
        </div>
        <input name="valorConsulta" type="text" class="form-control bg-dark bg-opacity-50 text-white" min="0">
        <div class="input-group-append">
          <span class="input-group-text bg-dark bg text-white">dolares</span>
        </div>
      </div>
    </div>

    <p class="h5 text-light text-center p-2 bg-gradient">Curriculum</p>
    <label class="custum-file-upload align-self-center text-center" for="file">
      <div class="icon" style="width: 8vw;">
        <img class="col-4" th:src="@{../Img/PDF.png}" alt="" />
      </div>
      <div class="text">
        <span>Ingrese un PDF</span>
      </div>
      <input type="file" id="file" name="archivo" />
    </label>

    <p class="h5 text-light text-center p-2 bg-gradient">Imagen de perfíl</p>
    <label class="custum-file-upload align-self-center text-center" for="file">
      <div class="icon" style="width: 8vw;">
        <svg xmlns="http://www.w3.org/2000/svg" fill="" viewBox="0 0 24 24">
          <g stroke-width="0" id="SVGRepo_bgCarrier"></g>
          <g stroke-linejoin="round" stroke-linecap="round" id="SVGRepo_tracerCarrier"></g>
          <g id="SVGRepo_iconCarrier">
            <path fill=""
              d="M10 1C9.73478 1 9.48043 1.10536 9.29289 1.29289L3.29289 7.29289C3.10536 7.48043 3 7.73478 3 8V20C3 21.6569 4.34315 23 6 23H7C7.55228 23 8 22.5523 8 22C8 21.4477 7.55228 21 7 21H6C5.44772 21 5 20.5523 5 20V9H10C10.5523 9 11 8.55228 11 8V3H18C18.5523 3 19 3.44772 19 4V9C19 9.55228 19.4477 10 20 10C20.5523 10 21 9.55228 21 9V4C21 2.34315 19.6569 1 18 1H10ZM9 7H6.41421L9 4.41421V7ZM14 15.5C14 14.1193 15.1193 13 16.5 13C17.8807 13 19 14.1193 19 15.5V16V17H20C21.1046 17 22 17.8954 22 19C22 20.1046 21.1046 21 20 21H13C11.8954 21 11 20.1046 11 19C11 17.8954 11.8954 17 13 17H14V16V15.5ZM16.5 11C14.142 11 12.2076 12.8136 12.0156 15.122C10.2825 15.5606 9 17.1305 9 19C9 21.2091 10.7909 23 13 23H20C22.2091 23 24 21.2091 24 19C24 17.1305 22.7175 15.5606 20.9844 15.122C20.7924 12.8136 18.858 11 16.5 11Z"
              clip-rule="evenodd" fill-rule="evenodd"></path>
          </g>
        </svg>
      </div>
      <div class="text">
        <span>Ingrese una imagen</span>
      </div>
      <input type="file" id="file" name="archivo" />
    </label>

    <label>
      <input required="" placeholder="" type="password" class="input" th:value="${password}" name="password" />
      <span>Contraseña</span>
    </label>
    <label>
      <input required="" placeholder="" type="password" class="input" th:value="${password}" name="password2" />
      <span>Confirmar Contraseña</span>
    </label>
    <button class="submit">Enviar</button>
    <p class="signin">¿que ? <a href="/admin/dashboard">Ingresar</a></p>
  </form>
  <script>
    document.getElementById("entrada").addEventListener("input", function () {
      if (this.value < 0 || this.value > 24) {
        alert("Por favor, ingrese un número entre 0 y 24.");
        this.value = "";
      }
    });

    document.getElementById("salida").addEventListener("input", function () {
      if (this.value < 0 || this.value > 24) {
        alert("Por favor, ingrese un número entre 0 y 24.");
        this.value = "";
      }
    });
  </script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>