<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org/"
  xmlns:sec="http://thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/SSE/src/main/resources/Static/CSS/turnos.css">
    <title>Sacar Turnos</title>
</head>
<body>
    <img class="bg-img" th:src="@{../Img/fondo 1.webp}" alt="">
    <div class="body"> 
      <img  th:src="@{../Img/SSE-logo.png}" alt="" class="body-img">
    <h1>Turnos</h1>
    </div>
    
    
</body>
</html>