<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
            />
        <link rel="stylesheet" th:href="@{/CSS/turnos.css}" />
        <link rel="stylesheet" th:href="@{/CSS/fragments/navbar.css}" />
        <link rel="stylesheet" th:href="@{/CSS/fragments/status.css}" />
        <link rel="stylesheet" th:href="@{/CSS/fragments/calendar.css}" />

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
        <link rel="stylesheet" th:href="@{/CSS/turnos.css}" />
        <link rel="stylesheet" th:href="@{/fragments/navbar.css}" />

    <body>
        <nav th:replace="/fragments/navbar :: nav" />
        <div th:replace="/fragments/status :: div" />
        <h1 class="body-title">Turnos</h1>
        <div class="turno-contenedor">
            <!-- contenedor gral -->

            <div class="calendar-cont">
                <!-- contenedor del calendario -->
                <div th:replace="/fragments/calendar:: div" />
            </div>
            <!--  ------------------------------------------------------------------  -->
            <div class="form-contenedor">
                <form th:action="@{/turnos}" method="post">
                    <div class="form-check">
                        <h2 class="Form-title">Especialidades</h2>
                        <div class="form-check-especialidades">
                            <input
                                class="form-check-input"
                                type="radio"
                                name="especialidad"
                                id="flexRadioDefault1"
                                value="CARDIOLOGIA"
                                />
                            <label class="form-check-label" for="flexRadioDefault1">
                                Cardiología
                            </label>
                        </div>
                        <div class="form-check-especialidades">
                            <input
                                class="form-check-input"
                                type="radio"
                                name="especialidad"
                                id="flexRadioDefault2"
                                value="CLINICA"
                                />
                            <label class="form-check-label" for="flexRadioDefault2">
                                Clínica Médica
                            </label>
                        </div>
                        <div class="form-check-especialidades">
                            <input
                                class="form-check-input"
                                type="radio"
                                name="especialidad"
                                id="flexRadioDefault3"
                                checked
                                value="GINECOLOGIA"
                                />
                            <label class="form-check-label" for="flexRadioDefault3">
                                Ginecología
                            </label>
                        </div>
                        <div class="form-check-especialidades">
                            <input
                                class="form-check-input"
                                type="radio"
                                name="especialidad"
                                id="flexRadioDefault4"
                                value="PEDIATRIA"
                                />
                            <label class="form-check-label" for="flexRadioDefault4">
                                Pediatría
                            </label>
                        </div>
                    </div>
                </form>
                <p class="txt-form-turnos">Seleccione la Opcion Deseada</p>
            </div>
        </div>
        <div class="seleccionar-turno">
            <label for="turno-fecha">Seleccione la Fecha</label>
            <input type="date" name="" id="turno-fecha" class="input-turno-fecha" />
            <label for="turno-hora">Seleccione el horario</label>
            <input type="datetime" name="" id="turno-hora" class="input-turno-hora" />
        </div>
        <div th:replace="/fragments/footer :: div" />
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"
        ></script>
    </body>
</html>