
.menu-footer{
   width: 100%;
   height: auto;
   display: flex;
   justify-content: end;
  
}
.contenedor-de-redes-y-menu{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}
.menu-footer{
    width: 100%;
    display: flex;
    justify-content: end;

}


