.img-logo-nav{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 10px;
}
.perfil img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 52px;
    border-radius: 50px;
  
}
.perfil{/* contenedor de imagen de perfil y lapiz de edicion */
    width: 5rem;
    height: auto;
    display: flex;

}
.icono-editar{/* //este es el contenedor del lapiz que aparece al lado de la foto de perfil// */
display: flex;
align-items: end;
}
.icono-editar svg{/* //este es el lapiz que aparece al lado de la foto de perfil// */
    width: 1rem;
    height: 1rem;
}
.navbar{
    position: fixed;
    top: 0;
    padding-bottom: 10px;
    width: 100%;
    z-index: 1;
}
#btn-salir{
    position: relative;
    right: 4rem;
}
