.img-logo-nav{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 10px;
}
.perfil img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 52px;
    border-radius: 50px;
  
}
.navbar{
    position: fixed;
    top: 0;
    padding-bottom: 10px;
    width: 100%;
    z-index: 1;
}
.btn-salir{
    display: flex;
    justify-content: center;
    position: relative;
    right: 10rem;
    border-radius: 6px;
    background-color: red;
    width: 70px;
}
