<div class="cont">
  <h1>Enero 2024</h1>
  <ol class="order-list">
    <li class="day-name">Dom</li>
    <li class="day-name">Lun</li>
    <li class="day-name">Mar</li>
    <li class="day-name">Mier</li>
    <li class="day-name">jue</li>
    <li class="day-name">vier</li>
    <li class="day-name">Sab</li>

    <li class="primer-Dia">1</li>
    <li>2</li>
    <li>3</li>
    <li>4</li>
    <li>5</li>
    <li>6</li>
    <li>7</li>
    <li>8</li>
    <li>9</li>
    <li>10</li>
    <li>11</li>
    <li>12</li>
    <li>13</li>
    <li>14</li>
    <li>15</li>
    <li>16</li>
    <li>17</li>
    <li>18</li>
    <li>19</li>
    <li>20</li>
    <li>21</li>
    <li>22</li>
    <li>23</li>
    <li>24</li>
    <li>25</li>
    <li>26</li>
    <li>27</li>
    <li>28</li>
    <li>29</li>
    <li>30</li>
    <li>31</li>
  </ol>
  <div class="dias-container">
    <div class="green-cont">
      <p class="txt-calendar">Días disponibles</p>
      <div class="color-green"></div>
    </div>
    <div class="red-cont">
      <p class="txt-calendar">Días No disponibles</p>
      <div class="color-red"></div>
    </div>
  </div>
</div>
