<div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
      <span class="fs-4" th:text="${session.usuarioSession.nombre + ' ' + session.usuarioSession.apellido}"></span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item" th:if='${session.usuarioSession != null}' sec:authorize="hasRole('PROFESIONAL')">
        <a class="btn btn-link text-white-50 h5" href="/obraSocial/lista">Obras Sociales</a>
      </li>
      <br>
      <li class="nav-item " th:if='${session.usuarioSession != null}' sec:authorize="hasRole('PROFESIONAL')">
        <a class="btn btn-link text-white-50 h5" href="/admin/usuarios">Usuarios</a>
      </li>
      <br>
      <li class="nav-item " th:if='${session.usuarioSession != null}' sec:authorize="hasRole('PROFESIONAL')">
        <a class="btn btn-link  text-white-50 h5" href="#">Agenda</a>
      </li>
      <br>
      <li class="nav-item " th:if='${session.usuarioSession != null}' sec:authorize="hasRole('PROFESIONAL')">
        <a class="btn btn-link text-white-50 h5" style="text-decoration: none; font-weight: 700;" href="#">Turnos Atendidos</a>
      </li>
    
    <hr>
  </div>