<main class="d-flex flex-nowrap sideb">
    <h1 class="visually-hidden">Sidebars examples</h1>
  
    <div class="d-flex flex-column flex-shrink-0 p-3 bg-dark bg-opacity-50 rounded-right" style="width: 280px;">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
      <span class="fs-4" th:text="${'Hola: ' + session.usuarioSession.nombre}" ></span>
      </a>
      <hr>
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item" th:if='${session.usuarioSession != null}' sec:authorize="hasRole('ADMIN')">
          <a class="btn btn-link text-white h5" href="/obraSocial/lista">Obras Sociales</a>
        </li>
        <br>
        <li class="nav-item " th:if='${session.usuarioSession != null}' sec:authorize="hasRole('ADMIN')">
          <a class="btn btn-link text-white h5 " href="/admin/usuarios">Usuarios</a>
        </li>
        <br>
        <li class="nav-item " th:if='${session.usuarioSession != null}' sec:authorize="hasRole('ADMIN')">
          <a class="btn btn-link  text-white h5" href="/admin/registrarProfesional">Registrar Profesional</a>
        </li>
        <br>
        <li class="nav-item " th:if='${session.usuarioSession != null}' sec:authorize="hasRole('ADMIN')">
          <a class="btn btn-link text-white h5"; href="/admin/profesionalLista">Lista de Profesionales</a>
        </li>
      
      <hr>
      <div class="dropdown">
        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          <img   th:src="@{/imagen/perfil/__${session.usuarioSession.id}__}" alt="" width="32" height="32" class="rounded-circle me-2">
          
          <strong>Yo</strong>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
          <li><a class="dropdown-item" href="#">Datos del Profesional</a></li>
          <li><a class="dropdown-item" href="/turnos/registrados">Turnos Registrados</a></li>
          <li><a class="dropdown-item" href="/admin/registrarProfesional"> Registrar Profesional </a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Salir</a></li>
        </ul>
      </div>
    </div>
    </main>