<div th:fragment="div">
    <div th:if="${error != null}" class="card text-white bg-danger mb-3 mensajeError" id="error-message">
        <div class="card-body">
            <h5 class="card-title">Error</h5>
            <p class="card-text" th:text="${error}"></p>
        </div>
    </div>

    <div th:if="${exito != null}" class="card text-white bg-success mb-3 mensajeExito" id="success-message">
        <div class="card-body">
            <h5 class="card-title">Éxito!</h5>
            <p class="card-text" th:text="${exito}"></p>
        </div>
    </div>
    
    <script th:inline="javascript">
        setTimeout(function() {
            document.getElementById('error-message').style.display = 'none';
            document.getElementById('success-message').style.display = 'none';
        }, 5000); 
    </script>
</div>