body {
    padding: 0;
    margin: 0;     
    background-image: url("/Img/clinica.webp");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card-curriculum{
    text-decoration: none;
}
.body {
    display: flex;
    margin: 2%;
    padding: 5%;
    justify-content: space-around;
}
.body-img {
    width: 15%;
    height: 27%;

}
h1 {
    text-align: center;
    padding-top: 2%;
    font-size: 100px;
    font-family: sans-serif;
}

.clinica {
    width: 200vh;
    height: 70vh;
    margin: 2%;
    border: 2px solid;
    border-radius: 20px;
}

.col {
    display: flex;
    justify-items: center;
    justify-content: space-between;
}



.card-medico {
    margin: 12%;
    padding: 2%;

}

.card {
    background-color: rgba(255, 255, 255, 0.296);
    padding: 12%;
    margin: 2%;
    width: 35vh;
    height: 65vh;
    border-radius: 20px;
    box-shadow: 2px 6px 2px 6px rgb(119, 116, 116);
}

.card-img {
    width: 35vh;
    justify-content: center;
    margin: 2%;
    border-radius: 60px 90px 30px 80px;
}

.card-title,
.card-text {

    font-family: sans-serif;
    text-align: center;
    margin: 2px;
    padding: 2px;
}

.card-text {
    width: 100%;
    font-size: 20px;
    padding: 3%;
}

.card-title {
    font-size: 30px;
}
.card-btn{
    margin-top: 15px;
    display: flex;
    width: 100%;
    
}

.card-btn1 {    
    font-family: sans-serif;
    font-size: 20px;
    width: 100vh;
    height: 7vh;
    border: 1px solid black;
    background-color: rgba(0, 0, 255, 0.295);
    padding: 2%;
    margin: 5px 15px;
    justify-content: center;
    border-radius: 8px;

}


.rating {    
    display: flex;
    opacity: 1;
    justify-content: center;
   
  }
  
  .rating input {    
    display: none;
    opacity: 1;
  }
  
  .rating label {    
    float: right;
    cursor: pointer;
    color: #ccc;
    transition: color 0.3s, transform 0.3s, box-shadow 0.3s;
  }
  
  .rating label:before {    
    content: '\2605';
    font-size: 30px;
    transition: color 0.3s;
  }
  
  .rating input:checked ~ label,
  .rating label:hover,
  .rating label:hover ~ label {
    color: #ffc300;
    transform: scale(1.2);
    transition: color 0.3s, transform 0.3s, box-shadow 0.3s;
    animation: bounce 0.5s ease-in-out alternate;
  }
  
  @keyframes bounce {
    to {
      transform: scale(1.3);
    }
  }