body {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    position: relative;
    top: 8rem;
    background-image: url(../Img/fondoCoberturaMedica.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}
.coberturaTitle{
    font-size: 10em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    align-items: center;
    text-align: center;
}
.card{
    width: 80%;
}

img{
    width: 40%;
    border: 2px;
    border-radius: 5em;
}
.card-btn {
    font-size: 2em;
    margin: 1em;
       border: 0;
    cursor: pointer;
    will-change: box-shadow,transform;background: radial-gradient( 100% 100% at 100% 0%, #89E5FF 0%, #5468FF 100% );
    box-shadow: 0px 0.01em 0.01em rgb(45 35 66 / 40%), 0px 0.3em 0.7em -0.01em rgb(45 35 66 / 30%), inset 0px -0.01em 0px rgb(58 65 111 / 50%);
    padding: 0 2em;
    border-radius: 1em;
    color: #fff;
    height: 2em;
    text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
    transition: box-shadow 0.15s ease, transform 0.15s ease;
  }
  
  .card-btn:hover {
    box-shadow: 0px 0.1em 0.2em rgb(45 35 66 / 40%), 0px 0.4em 0.7em -0.1em rgb(45 35 66 / 30%), inset 0px -0.1em 0px #3c4fe0;
    transform: translateY(-0.1em);
  }
  
  .card-btn:active {
    box-shadow: inset 0px 0.1em 0.6em #3c4fe0;
    transform: translateY(0em);
  }