body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../Img/fondoGestionesOnline.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.titleGestiones  {
    margin-top: 10%;
    width: 100%;
    text-align: center;
    align-content: center;
    font-size: 3em;
    text-align: center;
}
.gestionesGral{
    width: 100%;
    padding: 5%;
   
}
.gestiones, .contacto{
    display: flex;
    align-items: center;
    justify-content: center;   
}
.imgGestiones, .imgContacto{    
    flex-direction: row; 
    width: 30%;
    margin: 2%;
    border: 0;
    border-radius: 15%;        
}

.titleContacto{
    margin: 5%;
    text-align: center;
    width: 100%;
    align-content: center;
    font-size: 3em;
    text-align: center;
}