
body{ 
    background-image: url(../Img/pexels-pixabay-40568.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.contenedor{
    margin: 30px 30px;
    text-align: justify;
    padding: 30px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background: ; */
    
}
.img2{
    width: 300px; 
    height: 300px;
    position: relative;
    
}
.img-container{
    width: 100%;
    display: flex;
    justify-content: center;
}
