
.main{
    background-image: url("/SSE/src/main/resources/Static/Img/fondoInicio3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.prestadores-cont{
    background-image: url("/SSE/src/main/resources/Static/Img/fondoInicio3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}


.inicioLogo{
    width: 80px;
    height: 80px;
}
.container{
    background: rgba(0,0,0,.1);
    backdrop-filter: blur(10px);
    width: 100%;
    height: auto;
    border-radius: 20px;
    gap: 10px;
}
.icon-link{
    color: rgb(84, 95, 91);
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
}
.icon-link:hover{
    color: #000;
}
.col-lg-4{
    background: rgba(0,0,0,.1);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.row{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    gap:100px;
}

.feature{
    text-align: center;
}
.redes{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    padding: 30px;
}
.redes svg{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    
}