
.main{
    background: radial-gradient(circle, rgb(0, 0, 0) 0%, #000c44 100%);
   /*  background-image: url("/Img/fondoInicio3.jpg");
    background-repeat: no-repeat;
    background-size: cover; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:100px 20px 20px 20px;
}
.prestadores-cont{
    background: radial-gradient(circle, rgb(0, 0, 0) 0%, #000c44 100%);
   /*  background-image: url("/Img/fondoInicio3.jpg");
    background-repeat: no-repeat;
    background-size: cover; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}


.inicioLogo{
    width: 80px;
    height: 80px;
}
.container{
    background: rgba(0,0,0,.1);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    gap: 10px;
}
.icon-link{
    color:#fff;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
}
.icon-link:hover{
    color: #9d9898;
}
.col-lg-4{
    background: rgba(1, 1, 1, 0.5);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.col-lg-4 img{
    width:150px;
    height: 150px;
    border-radius: 50px;
    object-fit:cover ;
}
.row{
    margin-top: 10px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    gap:100px;
}

.feature{
    text-align: center;
    justify-content: center;
}
.redes{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    gap: 10px;
    
}
.redes svg{
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    background: rgba(0,0,0,.1);
    border-radius: 20px;
    padding: 15px;
}
.seguinos{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
a{
    text-decoration: none; 
    color: inherit;
}
.display-3{
   font-size: small;
}