body{
    display: flex;
    justify-content: center;
    position: relative;
    top: 8rem;
    background-image: url("/SSE/src/main/resources/Static/Img/loginImg.jpg");
background-repeat: no-repeat;
background-size: cover;
  }
.form {
    background-color:rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(20px);
    display: block;
    padding: 3rem;
    max-width: 350px;
    border-radius: 0.5rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    border: 1px solid #fff;
    border-radius: 0.5rem;
    
  }
  
  .form-title {
    font-family: sans-serif;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
    text-align: center;
    color: #fff;
  }
  
  .input-container {
    position: relative;
    
  }
  input::placeholder{
    color: #fff;
  }
  .input-container input, .form button {
    outline: none;
    border: 1px solid #e5e7eb;
    margin: 8px 0;
    
  }
  
  .input-container input {
    background-color: rgba(0, 0, 0, 0.05);
    padding: 1rem;
    color: #e5e7eb;
    padding-right: 3rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    width: 300px;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  }
  .LogoBlanco{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
  }
  .LogoBlanco img{
    color: #fff;
    width: 80px;
    height: 80px;
    
 }

  .input-container span {
    display: grid;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    place-content: center;
  }
  
  .input-container span svg {
    color: #9CA3AF;
    width: 1rem;
    height: 1rem;
  }
  
  .submit {
    display: block;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    background-color: #4F46E5;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    width: 100%;
    border-radius: 0.5rem;
    text-transform: uppercase;
  }
  
  .signup-link {
    color: #fff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-align: center;
  }
  
  .signup-link a {
    text-decoration: underline;
    color: #a5bff1;
    font-weight:bold;
  }
