body {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        position: relative;
        top: 8rem;
        background-image: url(../Img/fondoPrestaciones.jpg);
        background-repeat: no-repeat;
        background-size: cover;
}
.titlePrestadores{
        width: 100%;
        align-content: center;
        font-size: 5em;
        text-align: center;
       
}

.prestadores{     
        width: 70%;      
        align-items: center;
        justify-content: center;
}

.prestadoresText{
        font-size: 1.5em;
        text-align: center;
        padding: 5%;
        border: 2px solid black;
        border-radius: 30px;
        background-color: darkturquoise;

}
.obraSociales{
        width: 90%;
}