body {
    padding: 0;
    margin: 0;
    background-image: url("/src/main/resources/Static/Img/turnos.webp");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.body-title {
    text-align: center;
    font-size: 10vh;
    font-family: sans-serif;
    padding: 5%
}
.bg-img {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    filter: brightness(0.7);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.body {
    display: flex;
    justify-content: space-around;
}

.body-img {
    width: 15%;
    height: 27%;
}

.form-title {
    text-align: center;
    font-family: sans-serif;
    font-size: 5vh;
    padding: 3%;
}

.form-check {
    display: block;
    width: 80vh;
    background-color: rgba(0, 0, 255, 0.169);
    margin: 3%;
    padding: 8%;
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 5px 8px 5px 8px grey;
}
.form-check-especialidades{
    display: flex;
}
.form-check-label{
    font-size: 3vh;
    padding: 1%;
    margin: 0.5%;
   
}
.form-check-input{
    width: 3vh;
    height: 3vh;
    padding: 1%;
}
.btn-active{
    display: flex;
    margin: 2%;
    padding: 1%;
    width: 15vh;
    border: 2px solid black;
    color: white;
    font-size: 2vh;
    font-family: sans-serif;
    background-color: blue;
    justify-content: space-around;
    box-shadow: 0px 3px 0px 3px;
}
.btn-active:hover{
    color: blue;
    background-color: aliceblue;
}