body {
    padding: 0;
    margin: 0;
    background-image: url("/src/main/resources/Static/Img/turnos.webp");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}

.body-title {   
    text-align: center;
    font-size: 300%;
    font-family: sans-serif;
    padding: 5%;
    min-width: 250px;
    flex-wrap: wrap;
}

.bg-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: brightness(0.7);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    flex-direction: column;
}
.contenedor{
    display: block;
    width: 100%;
    max-width: 1000px;
    min-width: 250px;
    overflow: hidden;
}
.body {   
    display: flex;     
    justify-content: space-around;     
    flex-wrap: wrap;
}

.body-img {
    width: 15%;
    height: 27%;
}

.form-title {
    text-align: center;
    font-family: sans-serif;
    font-size: 200%;
    padding: 3%;
    margin: 2%;
    min-width: 250px;
    flex-direction: column;
    flex-wrap: wrap;
}

.form-check {
    display: block;
    width: 80%;
    min-width: 250px;
    background-color: rgba(0, 0, 255, 0.25);
    margin: 3%;
    padding: 8%;
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 5px 8px 5px 8px grey;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.form-check-especialidades {
    display: flex;
    width: 35vh;
    min-width: 250px;
    height: 8vh;
    padding: 5%;
    justify-items: center;
    flex-wrap: wrap;
}

.form-check-label {
    font-size: 100%;
    margin: 2%;
}
.radio-input{
    display: flex;
    width: 35vh;
    min-width: 250px;
    height: 8vh;
    padding: 5%;
    justify-items: center;
    flex-wrap: wrap;
}
.form-check-input {
    width: 3vh;
    height: 3vh;
    padding: 1%;
    justify-items: center;
}

.form-check-label-dia {
    width: 80%;
    font-size: 100%;
    padding: 1%;
    margin: 1%;
    justify-content: center;
}

.btn-active {
    margin: 3%;
    padding: 1%;
    width: 40%;
    min-width: 20%px;
    height:8%;
    border: 2px solid black;
    color: white;
    font-size: 90%;
    font-family: sans-serif;
    background-color: blue;
    text-align: center;
    justify-content: center;
    box-shadow: 0px 2px 0px 2px rgb(56, 56, 57);
    flex-wrap: wrap;
}

.btn-active:hover {
    border: 2px solid black;
    color: blue;
    background-color: rgb(95, 95, 97);
    box-shadow: 0px 2px 0px 2px rgb(203, 203, 206);
}
.btn-buscar{
    text-align: center;
}