body{
    display: flex;
    justify-content: center;
    position: relative;
    flex-direction: column;
    background-image: url(../Img/fondoUsuarios.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
 .roltxt{
    font-weight: 700;
 }
 .table{
   position: relative;
   top: 60px;
   background-color: transparent !important;
 }
 .titulos-tabla{
   text-align: center;
 }
tr,th,td, tbody,thead{
   text-align: center;
   background-color: transparent !important;
}
tbody th{
   align-content: center;
}
td img{
    border-radius: 20px;
}
a{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.titleUsuario{
   padding: 100px 0px 0px 30px;
   text-align: center;
}